

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.dyptych-logo{
    width: 13vh
}


.nav-head {
    margin-bottom: 10px;
    z-index: 1100;
}


.featured-article-container {
    width: 100%;
}

.featured-article-image {
    transform: translate(-30%, -50%);
}

.featured-article-title {
    position: absolute;
    z-index: 100;
    font-family: "Segoe UI";
    padding-top: 30px;
    color: #635959;
}

.featured-article-title-box {
    background-color: #ededed;
}

.feature-article-div {
    max-height: 200px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
}
