

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.dyptych-logo{
    width: 13vh
}


.nav-head {
    z-index: 1100;
}


.featured-article-container {
    width: 100%;
}

.featured-article-image {
    transform: translate(-30%, -50%);
}

.featured-article-title {
    position: absolute;
    z-index: 100;
    font-family: "Segoe UI";
    padding-top: 30px;
    color: #635959;
}

.featured-article-title-box {
    background-color: #ededed;
}

.feature-article-div {
    max-height: 200px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
}

.home-container {
    width: 100vw;
    margin-left: 1vw;
    background-image: url("https://ucarecdn.com/78e0303b-69fd-4bd9-9a18-3cdd7ef89f07/backgroundCanvas.png");
}

.home-row {
    height: 40vh;
    width: 95vw;
    margin-top: 1vh;
    margin-bottom:  1vh;
}

.home-cell {
    height: 38vh;
    width: 45vw;
    border-style: solid;
    border-width: 1px;
    margin-right: 2vw;
    margin-left: 2vw;
}

.home-article-row {
    border-style: solid;
    border-width: 1px;
    margin: 1px 1px 1px 1px;
    width: 43vw;
    height: 18vh;
}

.home-article-col {
    border-style: solid;
    border-width: 1px;
    margin: 1px 1px 1px 1px;
    width:  19vw;
    max-width:19vw;
    height: 36vh;
}

.home-inner-row {
    width: 44vw;
    height: 37vh;
}

.thumbnail-container {
    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 4s; /* Firefox < 16 */
    -o-animation: fadein 4s; /* Opera < 12.1 */
    animation: fadein 4s;
    position: relative;
    text-align: center;
    color: white;
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 12vw;

}

.thumbnail-image{
    width: 12vw;
    height: 45vh;
}

.thumbnail-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.site-intro {
    width: 30vw;
    height: 45vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.thumbnail-left{
    float: left
}

.thumbnail-right {
    float: right
}
