

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.about{
    text-align:center;
    width: 30vw;
    margin: 0 auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.copyright{
    height:13px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 4vw;
    opacity: 0.4;
}


.dyptych-logo{
    top: -2px;
    position: fixed;
    height:47px;
    left: 4px;
}
.dyptych-logo-container{
    width: 250px;
}

.insta{
    height:23px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1.2vw;
}

.insta-link{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1.2vw;
}

.navbar-collapse{
    margin-right:9vw;
    float:left;
    margin-left:-4vw;
}

.nav-head {
    z-index: 1100;
    height: 41px;
    /*border-bottom: 1px solid #000000;*/
    /*border-image: linear-gradient(to bottom right, #b827fc 0%, #b8fd33 25%, #2c90fc 50%, #b827fc 75%, #fd1892 100%);*/
    border-image-slice: 10;
    /*box-shadow: 0px 1px 10px 2px black;*/
}

.nav-head-home {
    z-index: 1100;
    height: 40px;
    box-shadow: 0px 1px 10px 2px #e4e4e4;
}

.nav-link{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
}


.featured-article-container {
    width: 100%;
}

.featured-article-image {
    transform: translate(-30%, -50%);
}

.featured-article-title {
    position: absolute;
    z-index: 100;
    font-family: "Segoe UI";
    padding-top: 30px;
    color: #635959;
}

.featured-article-title-box {
    background-color: #ededed;
}

.feature-article-div {
    max-height: 200px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
}

.home{
    overflow-y: scroll;
}

.home-footer{
    width: 100%;
    background-color: darkcyan;
    color: black;
    height: 10vh;
    float: bottom;
    position: static;
    margin-top: 5vh;
    text-align: left;
}

.home-container {
    width: 100vw;
    margin-left: 1vw;
    background-image: url("https://ucarecdn.com/78e0303b-69fd-4bd9-9a18-3cdd7ef89f07/backgroundCanvas.png");
}

.home-row {
    height: 40vh;
    width: 95vw;
    margin-top: 1vh;
    margin-bottom:  1vh;
}

.home-cell {
    height: 38vh;
    width: 45vw;
    border-style: solid;
    border-width: 1px;
    margin-right: 2vw;
    margin-left: 2vw;
}

.home-article-row {
    border-style: solid;
    border-width: 1px;
    margin: 1px 1px 1px 1px;
    width: 43vw;
    height: 18vh;
}

.home-article-col {
    border-style: solid;
    border-width: 1px;
    margin: 1px 1px 1px 1px;
    width:  19vw;
    max-width:19vw;
    height: 36vh;
}

.home-inner-row {
    width: 44vw;
    height: 37vh;
}

.italic-about{
    font-style: italic;
}

.osd-logo{
    height: 20px;
}

.read-button{
    position: relative;
    font-size: large;
    font-weight:500 !important;
    height: 30px;
    margin-left: 10px;
    opacity: 1 !important;
    padding-top: 2px !important;
    padding-bottom: 5px !important; 
    background-color: rgb(129, 212, 250, 1);
    color: rgb(144, 12, 63);
}


.thumbnail-container {
    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 4s; /* Firefox < 16 */
    -o-animation: fadein 4s; /* Opera < 12.1 */
    animation: fadein 4s;
    position: relative;
    text-align: center;
    color: white;
    margin-top: 6vh;
    margin-bottom: 6vh;
    margin-left: 3vh;
    margin-right: 3vh;
    width: 300px;
    height: 485px;
    margin-right: 0;
    margin-left: 0;
    /*-webkit-filter: grayscale(50%);
    filter: grayscale(50%);*/
}

.thumbnail-container:hover > .thumbnail-title {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 90px;
    opacity: 0.9;
    padding-top: 16px;
    font-style: bold;
    color: black;
    background-color: lightgray;
}


.thumbnail-image {
    width: 300px;
    height: 485px;
    -webkit-animation: fadein 0.2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.2s; /* Firefox < 16 */
     -ms-animation: fadein 0.2s; /* Internet Explorer */
      -o-animation: fadein 0.2s; /* Opera < 12.1 */
         animation: fadein 0.2s;
}

@keyframes fadein {
 from { opacity: 0; }
 to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
 from { opacity: 0; }
 to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
 from { opacity: 0; }
 to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
 from { opacity: 0; }
 to   { opacity: 1; }
}

.thumbnail-title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 70px;
    opacity: 0.9;
    color: rgb(0, 0, 0);
    font-weight: 400;
    background-color: rgb(151, 151, 151);
    text-align: bottom;
    padding-right: 8px;
    padding-left: 8px;
    font-size: 17px;
    font-style: bold;
    padding-top: 10px;
    transition: width 0.3s, height 0.3s, background-color 0.3s, opacity 0.3s, font-size 0.3s, padding-top 0.3s, font-style 0.3s;
}

.thumbnail-title:hover {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 90px;
    opacity: 0.9;
    color: black;
    padding-top: 16px;
    font-style: bold;
    background-color: lightgray;
}

.site-intro {
    width: 500px;
    height: 15vh;
    margin-top: 1vh;
    margin-bottom: -4vh;
    margin-left: 3vw;
    padding-top:2vh;
    text-align: left;
    font-weight: 400;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-bottom: 1px solid black;
}

.site-intro:first-child::first-letter{
    float: left;
    font-size: 45px;
    line-height: 30px;
    padding-top: 4px;
    padding-right: 3px;
}

.thumbnail-left{
    float: left
}

.thumbnail-right {
    float: right
}
