/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.about{
    text-align:center;
    width: 30vw;
    margin: 0 auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.copyright{
    height:13px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 4vw;
    opacity: 0.4;
}


.dyptych-logo{
    top: -2px;
    position: fixed;
    height:47px;
    left: 4px;
}
.dyptych-logo-container{
    width: 250px;
}

.follow-us{
    font-size: 10px;
    color: black;
    margin-top:14px;
    margin-right: -19px;
    margin-left: 30px;
}

.insta{
    height:23px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1.2vw;
}

.insta-link{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1.2vw;
}

.navbar-collapse{
    margin-right:9vw;
    float:left;
    margin-left:-4vw;
}

.nav-head {
    height: 41px;
    width:100%;
    position: fixed !important;
    top:0px;
    /*border-bottom: 1px solid #000000;*/
    /*border-image: linear-gradient(to bottom right, #b827fc 0%, #b8fd33 25%, #2c90fc 50%, #b827fc 75%, #fd1892 100%);*/
    border-image-slice: 10;
    /*box-shadow: 0px 1px 10px 2px black;*/
}


.nav-head-home {
    z-index: 1100;
    height: 40px;
    box-shadow: 0px 1px 10px 2px #e4e4e4;
}

.nav-link{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
}


.featured-article-container {
    width: 100%;
}

.featured-article-image {
    transform: translate(-30%, -50%);
}

.featured-article-title {
    position: absolute;
    z-index: 100;
    font-family: "Segoe UI";
    padding-top: 30px;
    color: #635959;
}

.featured-article-title-box {
    background-color: #ededed;
}

.feature-article-div {
    max-height: 200px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
}

.home{
    
    height:300%;
    
}

.home-footer{
    width: 100%;
    background-color: darkcyan;
    color: black;
    height: 10vh;
    float: bottom;
    position: static;
    margin-top: 5vh;
    text-align: left;
}

.home-container {
    width: 100vw;
    margin-left: 1vw;
    background-image: url("https://ucarecdn.com/78e0303b-69fd-4bd9-9a18-3cdd7ef89f07/backgroundCanvas.png");
}

.home-row {
    height: 40vh;
    width: 95vw;
    margin-top: 1vh;
    margin-bottom:  1vh;
}

.home-cell {
    height: 38vh;
    width: 45vw;
    border-style: solid;
    border-width: 1px;
    margin-right: 2vw;
    margin-left: 2vw;
}

.home-article-row {
    border-style: solid;
    border-width: 1px;
    margin: 1px 1px 1px 1px;
    width: 43vw;
    height: 18vh;
}

.home-article-col {
    border-style: solid;
    border-width: 1px;
    margin: 1px 1px 1px 1px;
    width:  19vw;
    max-width:19vw;
    height: 36vh;
}

.home-inner-row {
    width: 44vw;
    height: 37vh;
}

.italic-about{
    font-style: italic;
}

.osd-logo{
    height: 20px;
}

.read-button{
    position: relative;
    font-size: large;
    font-weight:500 !important;
    height: 30px;
    margin-left: 10px;
    opacity: 1 !important;
    padding-top: 2px !important;
    padding-bottom: 5px !important; 
    background-color: rgb(129, 212, 250, 1);
    color: rgb(144, 12, 63);
}


.thumbnail-container {
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
    position: relative;
    text-align: center;
    color: rgb(116, 102, 102);
    margin-right:30px;
    margin-left:30px;
    width: 300px;
    height: 390px;
    display:inline-flex;
    margin-bottom:60px;
    float:bottom;
    /*-webkit-filter: grayscale(50%);
    filter: grayscale(50%);*/
}

.featured-container {
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
    position: relative;
    top:-40px;
    text-align: center;
    color: white;
    margin-right:30px;
    margin-left:30px;
    width: 380px;
    height: 440px;
    display:inline-flex;
    margin-bottom:60px;
    /*-webkit-filter: grayscale(50%);
    filter: grayscale(50%);*/
}

/* .thumbnail-container:hover > .thumbnail-title {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 90px;
    opacity: 0.9;
    padding-top: 16px;
    font-style: bold;
    color: black;
    background-color: lightgray;
} */


.thumbnail-image {
    
    width: 270px;
    height: 360px;
    margin-top:30px;
    -webkit-animation: fadein 0.2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.2s; /* Firefox < 16 */
     -ms-animation: fadein 0.2s; /* Internet Explorer */
      -o-animation: fadein 0.2s; /* Opera < 12.1 */
         animation: fadein 0.2s;
}

.featured-image {
    width: 370px;
    height: 440px;
    -webkit-animation: fadein 0.2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.2s; /* Firefox < 16 */
     -ms-animation: fadein 0.2s; /* Internet Explorer */
      -o-animation: fadein 0.2s; /* Opera < 12.1 */
         animation: fadein 0.2s;
}

@keyframes fadein {
 from { opacity: 0; }
 to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
 from { opacity: 0; }
 to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
 from { opacity: 0; }
 to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
 from { opacity: 0; }
 to   { opacity: 1; }
}

.thumbnail-title {
    font-size:17px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 250px;
    height: 70px;
    font-variant-caps: small-caps;
    color: white;
    font-weight: 400;
    background-color: #008db1;
    text-align: center;
    padding-right: 8px;
    padding-left: 8px;
    
    font-style: bold;
    padding-top: 10px;
    position: absolute;
    left: -20px;
    bottom: -20px;
    border-radius: 5px;
    /* transition: width 0.3s, height 0.3s, background-color 0.3s, opacity 0.3s, font-size 0.3s, padding-top 0.3s, font-style 0.3s; */
}

.featured-title {
    font-variant-caps: small-caps;
    font-size:18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 300px;
    height: 210px;
    opacity: 1;
    color: white;
    background-color: #460e56;
    text-align: center;
    padding-right: 8px;
    padding-left: 8px;
    
    font-style: bold;
    padding-top: 10px;
    position: absolute;
    left: -60px;
    bottom: -40px;
    border-radius: 5px;
    /* transition: width 0.3s, height 0.3s, background-color 0.3s, opacity 0.3s, font-size 0.3s, padding-top 0.3s, font-style 0.3s; */
}

.featured-description{
    font-style: normal;
    font-variant-caps:normal;
    
    font-size:15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* .thumbnail-title:hover {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 90px;
    opacity: 0.9;
    color: black;
    padding-top: 16px;
    font-style: bold;
    background-color: lightgray;
} */
.secondary-section{
    position: relative;
    padding-left:25px;
}

.footer{
    opacity: 0.85;
    width: 40vw;
    font-variant-caps: small-caps;
    font-size: 21px;
    position: relative;
    left: 29vw;
    bottom: 10px;
    height: 40px;
    font-weight: 400;
    text-align: center;
    font-family: 'Georgia';
    margin-bottom: 50px;
    margin-top: 20px;
    
}

.footer a{
    color:black !important;
}

.home-button-about{
    width:40px;
    opacity:0.8;
    margin-top:60px;
    margin-bottom:-200px;
    position: relative;
}

.copyright{
    opacity: 0.85;
    width: 40vw;
    font-variant-caps: small-caps;
    font-size: 15px;
    position: relative;
    left: 38vw;
    bottom: 10px;
    height: 40px;
    font-weight: 400;
    text-align: center;
    font-family: 'Georgia';
    margin-bottom: 50px;
    margin-top: 20px;
}

.site-intro {
    width:300px;
    position:absolute;
    left:35vw;
    top:0vh;
    height: 15vh;
    margin-top: 1vh;
    margin-bottom: -4vh;
    margin-left: 3vw;
    padding-top:2vh;
    text-align: left;
    font-weight: 400;
    font-family: 'Georgia';
    text-align: center;
}

.site-intro:first-child::first-letter{
    float: left;
    font-size: 45px;
    line-height: 30px;
    padding-top: 4px;
    padding-right: 3px;
}

.thumbnail-left{
    float: left
}

.thumbnail-right {
    float: right
}

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

.title-left{
    font-size: 180px;
    position: relative;
    float:left;
    top:-40px;
    font-family: 'Libre Baskerville', serif;
    color: #008db1;
    letter-spacing: 8px;
    opacity: 70%;
}

.title-right{
    font-size: 180px;
    position:relative;
    float:right;
    top:-40px;
    font-family: 'Libre Baskerville', serif;
    color: #008db1;
    letter-spacing: 8px;
    opacity: 70%;
}

.insta-icon{
    padding:20px;
    width:70px;
    opacity:60%;
    position: relative;
    top:16vh;
    left:20vw;
    border-top: 1px solid black;
}

.more-stories{
    position: relative;
    width: 50px;
    opacity:100%;
}

.more-stories-text{
    font-size:20px;
    color:#460e56;
    opacity:100%;
    margin-left:10px;
    font-weight:700;
}
/* position: absolute;
    bottom: 4vh;
    left:47.5vw; */

.more-stories-container{
    position:relative;
    width:100vw;
    height:60px;
    top: -7vh;
    text-align: center;
}



