body {
    overflow-y:scroll;
    overflow-x: hidden;
}

@font-face {
    font-family: 'Libre Caslon Text', serif;
    src: url('https://fonts.googleapis.com/css?family=Libre+Caslon+Text&display=swap') format('woff');
  }

  @font-face {
    font-family: 'Libre Baskerville', serif;
    src: url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap') format('woff');
  }
  

article-intro-gap {
    padding-top: 90vh;
    margin-left: -15vh;
}
.article-background-pane {
    position: absolute;
    opacity: 0.6;
    z-index: 1000;
    width: 55%;
    height: auto;
}

.article-pane{
    position:fixed;
}

.background-container{

}

.body-para{
    margin-bottom: 5vh;
    line-height: 25px;
    font-size: 16px;
}

.body-para-first{
    margin-bottom: 5vh;
    font-size: 16px;
    line-height: 25px;
}

.body-para-first:first-child::first-letter{
    float: left;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
    font-family: 'Libre Carson Text';
}


.hidden {
    opacity: 1;
}

.visible{
    opacity: 1;
}

.article-body-pane {
    margin-left: 40px;
    margin-right:40px;
    
    text-align:justify;
    font-family: 'Ovo';
    font-weight: bold;
    padding-bottom: 6vh;
    color: black;
    
}

.article-intro-pane {
    padding-top: 15vh;
    margin-left: 5vh;
}
.article-text-pane {
    overflow-y: scroll;
    flex: 1;
    height: 100vh;
    width: 45vw;
    margin-right: -1vw;
    background-color: rgb(250, 250, 250);;;
    color: black;
}

.article-text-pane-intro {
    overflow-y: scroll;
    height: 100vh;
    width: 45vw;
    position:absolute;
    left:-23vw;
    margin-right: -1vw;
    background-color: rgb(250, 250, 250);
    color: black;
}


.article-header{
    height:25vh;
    width: auto;
    color: black;
    z-index:999999999999999999999;
}

/*.article-header > *{
    background-color: #636363 !important;
}*/

.article-header-intro{
    height:17vh;
    width: auto;
    background-color: rgb(250, 250, 250);;;
    color: black;
}

.article-header-title{
    width: 43.8vw;
    padding-left:4vw;
    padding-right:4vw;
    padding-top: 15px;
    position:absolute;
    display: inline-block;
    text-align: center;
    font-size: 28px;
    z-index: 9999998;
    font-family: 'Lora', serif;
    background-color: rgb(250, 250, 250);
    font-weight:800;
}


.article-header-title-intro{
    width: 43.8vw;
    padding-left:4vw;
    padding-right:4vw;
    padding-bottom: 1vh;
    padding-top: 5vh;
    position:absolute;
    display: inline-block;
    text-align: center;
    font-size: 36px;
    z-index: 9999998;
    background-color: rgb(250, 250, 250);;;
    /*font-family: 'Cinzel', serif;*/
    font-family: 'Playfair Display SC', serif;
    font-weight: 800;
}

.article-header-artist{
    width: 43.8vw;
    position:absolute;
    display: inline-block;
    padding-top:6vh;
    top: 4vh;
    text-align: center;
    z-index: 999999;
    padding-bottom: 1vh;
    font-family: 'Lora', serif;
    font-weight: bold;
    color: rgb(22, 22, 22);
    background-color: rgb(250, 250, 250);;;
}

.article-header-details{
    width: 35vw;
    position:relative;
    left:5vw;
    display: inline-block;
    margin-top: 15vh;
    text-align: center;
    z-index: 0;
    font-family: 'Lora', serif;
    color: rgb(22, 22, 22);
    font-weight: bold;
}

.article-header-details-shift{
    width: 43.8vw;
    position:relative;
    display: inline-block;
    margin-top: 20vh;
    text-align: center;
    z-index: 0;
    font-family: 'Lora', serif;
    color: rgb(22, 22, 22);
    font-weight: bold;
}

.article-header-date{
    width: 43.8vw;
    position:relative;
    display: inline-block;
    top: 15vh;
    text-align: center;
    z-index: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
}


.article-header-artist-shift{
    width: 43.8vw;
    position:absolute;
    display: inline-block;
    padding-top:10vh;
    top: 6vh;
    text-align: center;
    z-index: 999999;
    padding-bottom: 1vh;
    font-family: 'Lora', serif;
    background-color: rgb(250, 250, 250);;
    color: black;
    font-weight:bold;
}

.article-header-author-shift{
    width: 43.8vw;
    position:relative;
    display: inline-block;
    margin-top:18vh;
    text-align: center;
    font-size: 16px;
    font-family: 'Lora', serif;
    color: black;
    
    background-color: rgb(250, 250, 250);;;
}

.article-header-scroll{
    width: 45vw;
    position:relative;
    display: inline-block;
}


.article-image-pane {
    height: 100vh;
    width: 55.2vw;
    position: absolute;
    left: 0vw;
    z-index: 0 !important;
    background-color: rgb(250, 250, 250);
}

.article-image-pane-intro {
    height: 100vh;
    width: 100vw !important;
    position: absolute;
    left: 0vw;
    z-index: 0 !important;
    background-color: rgb(250, 250, 250);
}



.article-image-pane * {
 
    -webkit-animation: fadein 0.2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.2s; /* Firefox < 16 */
     -ms-animation: fadein 0.2s; /* Internet Explorer */
      -o-animation: fadein 0.2s; /* Opera < 12.1 */
         animation: fadein 0.2s;
}

@keyframes fadein {
 from { opacity: 0; }
 to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
 from { opacity: 0; }
 to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
 from { opacity: 0; }
 to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
 from { opacity: 0; }
 to   { opacity: 1; }
}

.article-image-container {
    margin-bottom: 2vh;
}

.article-image-pane-img {
    z-index: 10000;
    height: 93vh;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

/*

.article-link{
    color: rgb(250, 250, 250);;;
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.article-link:after{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 10%;
    background-color: rgb(250, 250, 250);;;
    opacity: .5;
    transition: all .1s ease;
}

.article-link:hover:after{
    height: 90%;
}*/

.cc-logo{
    height:15px;
    margin-left: 15px;
    margin-bottom: 2px;
}

.image-pane {
    overflow: hidden;
    height: 90vh;
}

.image-credit{
    font-family: 'trebuchet ms';
    background-color: rgb(49, 49, 49);
    color: rgb(250, 250, 250);;;
    margin-top: 100px;
    width: 8vw;
    border: 1px solid rgb(250, 250, 250);;;
    padding-left: 2px;
    padding-right: 2px;
}

.italic-style{
    font-style: italic;
}

.info-pane {
    position: absolute;
    top: 0.5vh;
    right: 2vh;
    height: 10vh;
    width: 40vh;
    z-index:2000;
    font-size: 1.5vh;
}

.info-text {
    font-size: 11px;
    text-overflow: ellipsis;
    height: 13px;
    overflow: hidden;
    background-color: rgb(250, 250, 250);;;
}

.info-title {
    font-size: 25px;
    height: 35px;
    width: 40vw;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: italic;
    margin: auto;
    text-align: center;
}

#seadragon{
    z-index: 99999999999999999999999999999;
    width: 55.2vw;
    /*background-color: #414141 !important;*/
}

#seadragon:hover > .image-toolbar {
    position: absolute;
    height: 95vh;
    width: 10vw;
    z-index: 99999999999999999999999999999;
    background-color: none;
    opacity: 0.7;
    visibility: visible;
    box-shadow: 3px none;
    
    margin-right:1vw;
}

.image-toolbar{
    visibility: hidden;
    position: absolute;
    right:0vw;
    height: 100%;
    width: 10vw;
    z-index: 99999999999999999999999999999;
    background-color: transparent;
    padding-bottom: 4vh;
    padding-left: 1vw;
    transition: opacity 0.3s;
    opacity: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: small;
    
}

#zoom-in{
    background-color: black;
    color: rgb(250, 250, 250);;;
    width: 8vw;
    margin-top: 5vh;
    border: 1px solid rgb(250, 250, 250);;;


}

#zoom-out{
    background-color: black;
    color: rgb(250, 250, 250);;;
    width: 8vw;
    margin-top: 6vh;
    border: 1px solid rgb(250, 250, 250);;;
}

#reset{
    background-color: black;
    color: rgb(250, 250, 250);;;
    width: 8vw;
    margin-top: 6vh;
    border: 1px solid rgb(250, 250, 250);;;
}
#full-screen{
    background-color: black;
    border: none;
    width: 8vw;
    margin-top: 6vh;
    border: 1px solid rgb(250, 250, 250);;;
    color: rgb(250, 250, 250);;;
}

.full-screen-image{
    height: 15vh;
}

.image-details-pane {
    vertical-align: text-bottom;
    background-color: #e2e2e2;
    opacity: 0.65;
    color: #282727;
    height: 10vh;
    width: 16vh;
    margin: 10px;
    float: left;
    font-style: italic;
    font-weight: bold;
    position: absolute;
    bottom: 0px;
    z-index: 1000;
    padding: 5px;
}


.indicator-container{
    margin-left: 15.5vw;
    position:relative;
    display: inline-block;
    margin-top:11vh;
    z-index:10000;
    margin-bottom: 2px;
    height: auto;
    
}

.indicator-container-shift{
    margin-left: 15.5vw;
    position:relative;
    display: inline-block;
    margin-top:16vh;
    z-index:10000;
    margin-bottom: 2px;
    height: auto;
    
}

.indicator-container-intro{
    margin-left: 15.3vw;
    position:relative;
    display: inline-block;
    z-index:10000;
    margin-bottom: 2px;
    margin-top: 15px;
    height: auto;
}

.indicator-container-intro-shift{
    margin-left: 15.3vw;
    position:relative;
    display: inline-block;
    z-index:10000;
    margin-bottom: 2px;
    margin-top: 19px;
    height: auto;
}

/* (absolute indicator)  
.indicator-container{
    right: 4vw;
    position: fixed;
    top:3vh;
    z-index:9999999999;
    height: auto;
    width:200px;
}

.indicator-container-intro{
    right: 4vw;
    position: fixed;
    top:3vh;
    z-index:9999999999;
    height: auto;
    width:200px;
} */


.intro-break{
    text-align: center;
    font-weight: 400;
    font-size: 25px;
}

.intro-hero{
    position: fixed;
    right:0px;
    top:0px;
    opacity: 0.5;
    z-index: 999999999999999999999999999999999999;
    height:40px;
    width:500px;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(to right, transparent 25%, rgb(250, 250, 250);; 75%);
    mask-image: linear-gradient(to right, transparent 25%, rgb(250, 250, 250);; 75%);
    
}

.intro-hero-image{
    position:  absolute;
    top: -150px;
    left:-30px;
    height: 500px;
    width: 550px;
    
}

.intro-label{
    font-style:italic;
    color:black;
    font-size: 14px;
    margin-top:70px;
    

}



.page-indicator-filled{
    height: 4px;
    margin-right: 8px;
    z-index: 999999999;
    font-weight: 1000;
    font-size: large;
    color: rgb(250, 250, 250);;;
    /*-webkit-background-size: cover;
            background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: url(https://ucarecdn.com/5976cb7d-6114-429b-ba20-5b2956f26d90/Turner_1839_FightingTemeraire.jpg);*/

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.page-indicator-filled{
 
    -webkit-animation: fadein 0.2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.2s; /* Firefox < 16 */
     -ms-animation: fadein 0.2s; /* Internet Explorer */
      -o-animation: fadein 0.2s; /* Opera < 12.1 */
         animation: fadein 0.2s;
}

.page-indicator-filled-word{
    height: 4px;
    margin-right: 11px;
    margin-left: 11px;
    z-index: 999999999;
    font-weight: 1000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: rgb(250, 250, 250);;;
    /*-webkit-background-size: cover;
            background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: url(https://ucarecdn.com/5976cb7d-6114-429b-ba20-5b2956f26d90/Turner_1839_FightingTemeraire.jpg);*/

}

.page-indicator-filled-word{
 
    -webkit-animation: fadein 0.2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.2s; /* Firefox < 16 */
     -ms-animation: fadein 0.2s; /* Internet Explorer */
      -o-animation: fadein 0.2s; /* Opera < 12.1 */
         animation: fadein 0.2s;
}

.page-indicator-empty{
    height: 4px;
    margin-right:8px;
    font-weight: 500;
    color: rgb(187, 187, 187);
    z-index: 999999999;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.quote{
    text-align: center;
    padding-right: 4vw;
    padding-left: 4vw;
    font-style: italic;
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size: 17px;
}


.quote-mark{
    font-size: 32px;
    line-height: 10%;
}



.text-intro-pane {
    height: 90vh;
    font-style: italic;
    font-weight: bold;
    z-index: 1000;
}

.text-column {
    width: 45vw;
    float: left;
}

.title-label{
    position: fixed;
    right: 4.5vw;
    top: 1.5vh;
    width: 400px;
    color:#494949;
    z-index: 99999999999999999999;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: right;
}

.title-label{
 
    -webkit-animation: fadein 0.3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.3s; /* Firefox < 16 */
     -ms-animation: fadein 0.3s; /* Internet Explorer */
      -o-animation: fadein 0.3s; /* Opera < 12.1 */
         animation: fadein 0.3s;
}

.page-button {
    width: 3vw;
    height: 45vh;
    background: none;
    border: none;
}

.page-buttons {
    width: 3vw;
    float: right;
    height: 90vh;
    position: fixed;
    right: 3vw;
}

.prev-button{
    float: left;
    position: absolute;
    top: 6vh;
    z-index: 9999999999999;
    background: none;
    border: none;
    margin-left: 2vw;
}

.home-button{
    font-size: 15px;
    float: left;
    position: absolute;
    top: 1vh;
    left:5vw;
    z-index: 999999999999999999999999;
    background: none;
    border: none;
    margin-left: 2vw;
    color:black;
    
}

.home-button-intro{
    left:20px;
    position: absolute;
    top: 10px;
    z-index: 999999999;
    background: none;
    width:40px;

}

.home-img{
    z-index: 9999999999999999999999;
    width:20px;
    opacity: 0.4;
}

.next-button{
    right:1vw;
    float: right;
    position: absolute;
    top: 6vh;
    z-index: 999999999;
    background: none;
    border: none;
    margin-right: 2vw;
}

.next-button-intro{
    right:-15px;
    float: right;
    position: absolute;
    top: 55px;
    z-index: 999999999;
    background: none;
    border: none;
    margin-right: 2vw;
}

.next-button-circle{
    position:fixed;
    width:80px;
    right:50px;
    bottom:50px;
}

.button-img {
    width: 1vw;
    z-index: 999999999;
}

.continue-article{
    font-size:10px;
    margin-top:10px;
    font-weight:bold;
    opacity:0.8;
    font-style:italic;
}

.endstop{
    font-size:30px;
}

.thank-you{
    position:absolute;
    top:20vh;
    left:20vw;
    font-size: 20px;
    font-weight: bold;
    font-family: "Trebuchet MS";
}

.appendix-body{
    margin-left:20px;
}

.thank-you-container{
    position: fixed;
    width:55vw;
    height:100vh;
    z-index: 999999999999999999999999999999999999;
    background-color: rgb(250,250,250);
}

.related-text{
    font-weight:100;
}

.insta-icon-thank{
    width:25px;
    margin-left:10px;
}