html, body {
    overflow: hidden;
    height: 100%;
}

article-intro-gap {
    padding-top: 90vh;
    margin-left: -15vh;
}
.article-background-pane {
    position: absolute;
    z-index: 0;
    opacity: 0.6;
    width: 60%;
    height: auto;
}

.background-container{

}

.hidden {
    opacity: 1;
}

.visible{
    opacity: 1;
}

.article-body-pane {
    padding-top: 5vh;
    margin-left: 5vh;
}
.article-intro-pane {
    padding-top: 15vh;
    margin-left: 5vh;
}
.article-text-pane {
    overflow-y: scroll;
    flex: 1;
    height: 90vh;
    width:45vw;
}


.article-image-pane {
    height: 89vh;
    width: 53vw;
    overflow: hidden;
    position: absolute;
    margin-top: 1vh;
    margin-left: -5vh;
    margin-bottom: 2vh;
    border-radius: 5px;
}

.article-image-container {
    margin-bottom: 2vh;
}

.article-image-pane-img {
    transform: translate(-20%, -30%);
    z-index: 10000;
    width: 160vh; /* you can use % */
    height: auto;
    object-fit: contain;
}




.image-pane {
    overflow: hidden;
    height: 90vh;
}

.info-pane {
    position: absolute;
    top: 2vh;
    right: 2vh;
    height: 10vh;
    width: 40vh;
    z-index:2000;
    font-size: 1.5vh;
}

.info-text {
    font-size: 9px;
    text-overflow: ellipsis;
    height: 10px;
}

.image-details-pane {
    vertical-align: text-bottom;
    background-color: #e2e2e2;
    opacity: 0.65;
    color: #282727;
    height: 10vh;
    width: 16vh;
    margin: 10px;
    float: left;
    font-style: italic;
    font-weight: bold;
    position: absolute;
    bottom: 0px;
    z-index: 1000;
    padding: 5px;
}

.text-intro-pane {
    height: 90vh;
    font-style: italic;
    font-weight: bold;
    z-index: 1000;
}

.text-column {
    width: 40vw;
    float: left;
}

.page-button {
    width: 5vw;
    height: 45vh;
    background: none;
    border: none;
}

.page-buttons {
    width: 5vw;
    float: right;
    height: 90vh;
    position: fixed;
    right: 5vw;
}

.button-img {
    width: 2vw;
}
